@use '@/styles/vars.module.scss' as *;

.card {
    display: flex;
    flex-direction: column;
    gap: 12px;

    width: $w12;
    height: 192px;
    max-width: 440px;
    padding: 16px;
    border: 2px solid lighten($grey-light, 25%);
    border-radius: $br-m;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    @include transition;

    &Add {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        cursor: pointer;

        &:hover {
            box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2);
        }

        &:active {
            background-color: #f9f9f9;
        }

        .title {
            color: $grey-mid;
            font-size: 1.5rem;
            user-select: none;
        }

        .icon {
            font-size: 3.5rem;
            color: $grey-mid;
        }

        .input {
            width: 100%;
            padding: 8px 12px;
            border: 2px solid $orange-300;
            border-radius: $br-s;
        }

        .btns {
            width: 100%;
        }
    }

    .family {
        display: flex;
        justify-content: space-between;

        .name {
            font-size: 1.7rem;
        }
    }

    .reqs {
        width: fit-content;
        padding: 4px 12px;
        margin-top: auto;
        border-radius: $br-s;

        background-color: lighten($green-light, 15%);
    }

    .btns {
        display: flex;
        gap: 8px;
    }
}

@media screen and (max-width: 456px) {
    .card {
        height: fit-content;
        min-height: 192px;

        .btns {
            flex-direction: column;
        }
    }
}