@use '@/styles/vars.module.scss' as *;

* { 
  margin: 0; 
  padding: 0; 
  outline: 0;
  border: 0; 
  box-sizing: border-box; 
  scroll-behavior: smooth; 
}

html, input, button, textarea, select { 
  font-family: var(--font-montserrat); 
}

a {
  text-decoration: none;
  color: #000;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=checkbox] {
  cursor: pointer;
  accent-color: $purple-dark;
}

button {
  background-color: transparent;
  font-size: inherit;
  cursor: pointer;
}


strong {
  font-weight: 600;
}

.app {
  display: flex;
  flex-direction: column;

  position: relative;
  min-height: 100dvh;
  background-color: #fff;
}

.page {
  min-height: calc(100dvh - 128px); // full page - footer height
  padding-block: 120px 64px;

  &--def-loading {    
    display: grid;
    place-items: center;
  }

  &--not-found {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 80dvh;
    padding-inline: 24px;

    .icon {
      margin-top: 48px;
      font-size: 8rem;
      color: $orange-mid;
    }
  }

  &--error {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  
    width: $w9;
    max-width: 800px;
    margin-inline: auto;

    .icon {
      margin-bottom: 32px;
      font-size: 8rem;
      color: $orange-mid;
    }
  }

  &__title {
    color: $blue-dark;
    text-align: center;

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }

  &__subtitle {
    color: $orange-light;
    font-weight: 500;

    &--left {
      text-align: left;
    }

    &--right {
      text-align: right;
    }
  }
}

.error {
  &__message {
    width: 100%;
    padding: 16px;
    border-radius: $br-m;
    
    color: hsl(0, 100%, 60%);
    background-color: hsl(0, 100%, 90%);
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 0.9rem;
  }
}
