$br-c: 50%;
$br-xxl: 21px;
$br-xl: 15px;
$br-l: 12px;
$br-m: 9px;
$br-s: 6px;
$br-xs: 3px;

$w1: 8.3333%;
$w2: 16.6666%;
$w3: 25%;
$w4: 33.3333%;
$w5: 41.6666%;
$w6: 50%;
$w7: 58.3333%;
$w8: 66.6666%;
$w9: 75%;
$w10: 83.3333%;
$w11: 91.6666%;
$w12: 100%;

$orange-900: hsl(24, 100%, 45%);
$orange-800: hsl(24, 100%, 50%);
$orange-700: hsl(24, 100%, 60%);
$orange-600: hsl(24, 100%, 65%);
$orange-500: hsl(24, 100%, 70%);
$orange-400: hsl(24, 100%, 70%);
$orange-300: hsl(24, 100%, 75%);
$orange-200: hsl(24, 100%, 80%);
$orange-100: hsl(24, 100%, 85%);
$orange-50: hsl(24, 100%, 94%);
$orange-25: hsl(24, 100%, 98%);

$grey-dark: hsl(0, 0%, 20%);
$grey-mid: hsl(0, 0%, 40%);
$grey-light: hsl(0, 0%, 60%); 

$blue-dark: hsl(208, 51%, 28%);
$blue-mid: hsl(208, 53%, 35%);
$blue-light: hsl(208, 23%, 45%);

$yellow-dark: hsl(59, 84%, 36%);
$yellow-mid: hsl(59, 87%, 54%);
$yellow-light: hsl(59, 100%, 73%);

$red-dark: hsl(0, 66%, 38%);
$red-mid: hsl(0, 77%, 43%);
$red-light: hsl(0, 100%, 50%);

$green-dark: hsl(123, 50%, 35%);
$green-mid: hsl(123, 50%, 50%);
$green-light: hsl(123, 50%, 60%);

.t--bold {
  font-weight: 600;
}

.loader {
  display: block;
  position: relative;
  margin-inline: auto;

  &::before, &::after {
    content: "";  
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #fff;

    transform: scale(0);
    animation: anim-loader 2s linear infinite;
  }

  &::after {
    animation-delay: 1s;
  }

  @keyframes anim-loader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }

  &--grey {
    &::before, &::after {
      background-color: $grey-light;
    }
  }

  &--xs {
    width: 20px;
    height: 20px;

    &::before, &::after {
      width: 20px;
      height: 20px;
    }
  }

  &--s {
    width: 32px;
    height: 32px;

    &::before, &::after {
      width: 32px;
      height: 32px;
    }
  }

  &--m {
    width: 64px;
    height: 64px;

    &::before, &::after {
      width: 64px;
      height: 64px;
    }
  }

  &--l {
    width: 128px;
    height: 128px;

    &::before, &::after {
      width: 128px;
      height: 128px;
    }
  }

  &--xl {
    width: 256px;
    height: 256px;

    &::before, &::after {
      width: 256px;
      height: 256px;
    }
  }
}      

@mixin scrollbar_small() {
  &::-webkit-scrollbar {
    width: 8px;
    @include transition;
  }
  
  &::-webkit-scrollbar-track {
    border-radius: $br-s;
    background: #d8d8d8;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: $br-s;
    background: #a8a8a8;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
}

@mixin transition { 
  transition: all 0.1s ease-in-out;
}

@keyframes fade-in {
  from { opacity: 0 }
  to   { opacity: 1 }
}

@keyframes loading {
  0%   { background-color: hsl(200, 0%, 93%) }
  100% { background-color: hsl(200, 0%, 98%) }
}

@keyframes pulsing {
  0%   { opacity: 1; }
  100% { opacity: 0.5; }
}

@mixin anim--fade-in--short {
  animation: fade-in 0.15s ease-in-out forwards;
}

@mixin anim--fade-in--mid {
  animation: fade-in 0.5s ease-in-out forwards;
}

@mixin anim--fade-in--long {
  animation: fade-in 1s ease-in-out forwards;
}

@mixin anim--loading {
  animation: loading 1s linear infinite alternate;
}

@mixin anim--pulsing {
  animation: pulsing 3s linear infinite alternate;
}