@use "@/styles/vars.module.scss" as *;

.page {
    width: $w11;
    margin-inline: auto;

    .header {
        margin-bottom: 8px;

        .subtitle {
            color: $grey-mid;
        }

        .title {
            font-size: 2.5rem;
        }
    }

    .controls {
        display: flex;
        gap: 12px;
        margin-bottom: 40px;

        .searchbar {
            position: relative;
            min-width: 320px;
            border: 2px solid $grey-dark;
            border-radius: $br-m;

            .icon {
                position: absolute;
                top: 8px;
                left: 8px;
            }

            .input {
                width: 100%;
                padding: 8px 8px 8px 32px;
                border-radius: $br-m;
            } 
        }
    }

    .people {
        overflow-x: auto;
        position: relative;
        height: 70dvh;
        @include scrollbar_small;

        .warning {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 640px;
            transform: translate(-50%, -50%);

            color: $grey-mid;
            font-size: 2.8rem;
            text-align: center;
        }

        .labels {
            display: flex;
            padding: 16px;
            border-bottom: 2px solid $orange-500;
                        
            .label {
                flex-shrink: 0;
                width: 256px;
                font-weight: 500;

                &Actions {
                    width: 156px;
                }

                &Date {
                    width: 192px;
                }

                &Obs {
                    width: 384px;
                }
            }
        }

        .values {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @include scrollbar_small;
        }
    }
}